:root {
    font-family: "Inter", "sans-serif";
    height: 100vh;
    box-sizing: border-box;
}

body {
    text-align: center;
    padding: 50px;
}

.container {
    max-width: 60vw;
    margin: auto;
    height: 60vh;
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.pixel-color {
    background-color: black;
}

