:root {
    font-family: "Inter", "sans-serif";
    height: 100vh;
    box-sizing: border-box;
}

body {
    text-align: center;
    padding: 50px;
}

.container {
    max-width: 60vw;
    margin: auto;
    height: 60vh;
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.pixel-color {
    background-color: black;
}

.resolution {
    border: none;
    padding: 2rem;
    text-align: center;
    background-color: rgb(26, 111, 223);
    font-size: 16px;
    border-radius: 1rem;
    color: antiquewhite;
    transition: 0.5s;
}

.resolution:hover {
    background-color: rgb(92, 147, 219);
    color: rgb(32, 33, 34);
    transform: scale(1.1);
}
